@font-face {
  font-family: 'Gilory';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
}
$yellow: #fee8ac;
$pink: #f6deff;
$black: #242529;
$black-bg: #121317;
$white: #fefdff;
$font: 'Gilory';
$blue: #ddfffd;
